/node_modules/
/coverage/
/.idea/
.env
.DS_Store
/src/.DS_Store

/examples/simple/node_modules/
/examples/coverage/
/examples/.idea/
/examples/.env
/examples/build/
/examples/.DS_Store

/examples/server/node_modules/

/lib/
