{
  "singleQuote": true,
  "trailingComma": "all",
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "importOrder": ["<THIRD_PARTY_MODULES>", "^src/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true
}
